* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1{
  border-top-style: solid;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.page-section{
  display: flex;
}
.left{width: 30%;

}
.right{width: 70%;

}
.img1{

}
.img2{width: 100%;

}
.img3{width: 100%;

}
.img-div{
  display: flex;
}
p {
  border-style: solid;}

  
